#main{
  font-size:1.1em;
  margin:50px auto;
  width:370px;
}

input,label{
  font-size:1em;
  margin:5px 0;
  padding-left:5px;
}
#calculate{
  margin-left:63px;
  width:60px;
}
span{
  color:red;
}
#width-validation,#height-validation{
  color:red;
  margin-left:45px;
}
input:valid+span:after{
  content:"";
  color:green;
}
input:invalid+span:after{
  content:"x";
  color:red;
}
